<!DOCTYPE html>
<html long="en">
<head>
    <meta charset="UTF=8">
    <meta http-equiv="X UA Compatible"content = "IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>local pages</title>
</head>
<body>
    <h1 style="color:black">Mantap local Application</h1>
    <p style="color:red; font-size: 30px;">{{user.name}}{{user.age}}{{user.gender}} </p>
    <input type="text">
    <button style="width: 250px; height: 30px;background-color: rgb(253, 244, 244); color:blue; border-radius:40px; ">kembali ke halaman </button>
    
</body>
</html> 